<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<servlet-name>latte</servlet-name>
		<servlet-class>org.latte.LatteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>latte</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/_admin/*</url-pattern>
			<url-pattern>/_tasks/*</url-pattern>
			<url-pattern>/_ah/mail/*</url-pattern>
			<url-pattern>/blog/edit/*</url-pattern>
			<url-pattern>/blog/remove/*</url-pattern>
			<url-pattern>/blog/save/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>

