body {
	font-family: Calibri, Helvetica;
	background-color: white;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

a {
	text-decoration: underline;
	color: #404040;
}

select {
	font-size: 14px;
	margin: 0px 0px 0px 0px;
}

.thumb_link {
	border: 0;	
}

.thumb {
	border: 1px solid white;
	padding: 0;
	margin: 0;
	width: 84px;
	height: 84px;	
}

#nav {
	width: 268px;
	margin: 0;
	padding-left: 10px;
	float: left;
}

#content {
	padding-top: 50px;
	width: 500px;
	float: left;
}

#more {
	margin-top: 10px;
	font-size: 20px;
	display: block;
	cursor: pointer;
}
