body {
	font-family: Calibri, Helvetica;
	background-color: white;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

a {
	text-decoration: underline;
	color: #404040;
}

select {
	font-size: 14px;
	margin: 0px 0px 0px 0px;
}

h1 {
	font-size: 36px;
	margin: 0px 0px 15px 0px;
}

h2 {
	font-size: 24px;
	margin: 10px 0px 0px 0px;
}

img {
	border:0px;
}

td {
	padding: 0px 8px 0px 0px;
	margin: 0;
	vertical-align:top;
}

#nav {
	position:fixed;
	text-align: right;
	background-color: white;
	height: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 5px 0px 20px;
}

#body {
	margin: 0px 0px 0px 280px;
}

#loadNewer div {
	width: 200px;
	text-align:center;
	font-size: 120px;
	font-weight: bold;
        cursor:pointer;
}
