body {
	font-family: helvetica;
	background-color: white;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

a {
	text-decoration: underline;
	color: #404040;
}

select {
	font-size: 18px;
}

h1 {
	font-size: 20px;
	margin: 5px 0px 5px 0px;
}

h2 {
	font-size: 18px;
	margin: 5px 0px 5px 0px;
}

h3 {
	font-size: 14px;
	margin: 5px 0px 5px 0px;
}


img {
	border:0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0; 
}

li {
	padding: 3px 0px 0px 0px;
}

td {
	padding: 7px 5px 5px 5px;
	margin: 0;
	vertical-align:top;
}

#nav {
	position:fixed;
	left:0px;
	top:30px;
	text-align: right;
	background-color: white;
	height: 100%;
	padding-right: 10px;
	width: 210px;
}

#body {
	margin: 70px 0px 0px 220px;
}

#loadNewer div {
	width: 200px;
	text-align:center;
	font-size: 120px;
	font-weight: bold;
        cursor:pointer;
}

.hidden {
	visibility: hidden;
}

.comment {
	cursor:pointer;
}
