#wrapper { width:750px; margin:1em auto; }

/* protofade */
#protofade { position:relative; margin:0; padding:0px; width:700px; height:500px; overflow:hidden; }
#protofade li { position:absolute; top:0; left:0; margin:0; padding:0; background:none;}
