/* protofade */
body { margin: 0; padding: 0 }
#protofade { position:relative; margin:0 auto; padding:0px; width:100%; height:500px; overflow:hidden; background-color:yellow }
#protofade li { position:absolute; top:0; left:0; margin:0; padding:0; background:none;}
